@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&family=Roboto:ital,wght@1,300&display=swap');

#content{
    max-width: 1600px;
    margin: 0 auto;
}
hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
body {
    background-color: #ffffff;
    font-family: 'Roboto', 'Arial', 'Tahoma';
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color:#435ca7;
}
nav a{
    text-align: center; 
    color: #fdfff5;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #78c5d7;
    color: #fdfff5;
}
.book, .join{
    background-color: #78c5d7;
    color: #435ca7;
    font-family: Roboto;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #fce172;
    color: #000000;
}
#background{
    height: 725px;
    background-color: #78c5d7;
}
.msg{
    background-color: #435ca7;
    line-height: 1.5em;
    padding: 35px;
}
footer{
    background-color: #435ca7;
    padding: 25px 50px;
    margin-top: 200px;
}
.home-title{
    text-align: center;
    color: #435ca7;
    font-family: 'Lato', 'Rock salt', 'Impact';
    font-size: 2em;
    margin-top: 10px;
}
h4{
    color: #435ca7;
 }
 .book, .join{
    text-align: center;
    color: #fdfff5;
    padding: 15px 30px;
    margin-top: 50px;
    text-decoration: none
}
.msg h2{
    color: #78c5d7;
    font-family: Lato;
}
.msg p{
    background-color: #435ca7;
    color: #ffffff;
    font-family: Roboto;
    font-size: .8em;
    padding-bottom: 15px;
}
    
footer h3{
    color: #ffffff;
    font-family: Roboto;
}
footer a{
    color: #435ca7;
    text-decoration: none;
} 
footer h3 a:hover{
    background-color: #78c5d7;
    color: #fdfff5;
    text-decoration: underline;
    
}
.logo{
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img{
    width: 100%;
}
footer a{ 
    text-align: center;
    color: #fdfff5;
    text-decoration: none
    
}
h2{
    margin: 0;
}
footer .social img{
    padding-top: 15px;
}
#logo_link{
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
  border: 10px solid #fce172;;
}
main section img{
    box-sizing: border-box;
} 
header{
    display: grid;
    grid-template-columns: 150px auto;
}
nav{
    display: flex;
    justify-content: space-around;
}
#logo_link{
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
#hero{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box{
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg{
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
} 
.home-grid{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.card-img, .mountains{
    width: 100%;
    border: 10px solid #78c5d7;
    box-shadow: 5px 5px 10px #78c5d7;
} 
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}
.rivers-card{
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card{
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card{
    grid-column: 8/10;
    grid-row: 2/3;
}
#background{
    grid-column: 1/11;
    grid-row: 4/9;
}
.mountains{
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #78c5d7;
}
.msg{
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #78c5d7;
    }
footer{
display: flex;
justify-content: space-around;
align-items: center;
padding: 25px 50px;
margin-top: 200px; 
}
/* CSS FOR WWR SUBPAGE (RIVERS) */

.rivers{
    font-family: 'Lato', 'Rock salt', 'Impact';
    text-align: center;
    margin-bottom: 70px;
    color: #435ca7;
}
.first-river img, .second-river img, .third-river img{
    display: block;
    margin: 0 auto;
    
} 
.rivers-grid p{
    margin: 0 auto;
    font-size: .9rem;
    font-family: 'Roboto', 'Arial', 'Tahoma';
    padding-top: 15px;
    margin-top: -5px;
    text-align: left;
}
.rivers-grid h2{
    text-align: left;
    color: #435ca7;
    font-family: 'Lato', 'Rock salt', 'Impact';
    font-size: 1em;
    padding-top: 20px;
}

#baackground{
    height: 270px;
    background-color: #78c5d7;
}
.rafting-img, .rafting{
    padding: 2px;
    border-width: 0px;
    border-style: solid;
    border-image: initial;
    border-radius: 5px; 
    border: 10px solid #78c5d7;
    width: 100%;
    border: 10px solid #78c5d7; 
}
.rivers-grid{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.third-river-msg h2{
    text-align: center;
}

.first-river{
    grid-column: 2/6;
    grid-row: 2/3;
    transform: rotate(2.6deg);
}
.first-river-msg{
    grid-column: 7/12;
    grid-row: 2/3;
    margin-top: -55px;
    margin-bottom: 40px;
    margin-left: -30px;
    margin-right: -40px;
}
.second-river-msg{
    grid-column: 2/8;
    grid-row: 4/7;
}
.second-river{
    grid-column: 8/12;
    grid-row: 5/7;
    border: 10px solid #435ca7;
    transform: rotate(-2.5deg);

}
#baackground{
    grid-column: 1/13;
    grid-row: 4/9;
    box-shadow: 5px 5px 10px #435ca7;
}
.third-river-msg{
    grid-column: 2/12;
    grid-row: 9/10;
    padding-top: 20px;
    padding-bottom: 30px;
}
.third-river{
    grid-column: 3/11;
    grid-row: 12/13;
    transform: rotate(2.5deg);

}


@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}