@import url('https://fonts.googleapis.com/css2?family=Joan&family=Lato:wght@300&family=Open+Sans&family=PT+Sans:ital@1&family=Roboto:ital,wght@1,300&family=Rock+Salt&display=swap');

/* Website Content */
#content{
    max-width: 1600px;
    margin: 0 auto;
}
main section{
    text-align: center;
}
body {
    font-family: "Joan", "Roboto", "Rock Salt";
    font-size: 16px;
    margin: 0;
    line-height: 1.5rem;
    padding: 0;
    background: #ECC19C;
    color: #232523;
}
main section img{
    box-sizing: border-box;
}
header, main{
    margin: 0px 12px;
    display: block;
}
 .logo{
    width: 80%;
    margin-left: 15px;
    margin-right: 120px;
    margin-top: -20px;
    margin-bottom: -40px;
    border-radius: 10px;
}
header{
    border-radius: 5px;
    margin-top: 40px ;
    margin-bottom: 20px;
    background-color: #12A4D9;
    display: grid;
    grid-template-columns: 150px auto;
}
/* Navigations */
nav{
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    color: #ffffff;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #ECC19C;
    color: #fdfff5;
}
/* Hero display */
#hero-grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    margin: -21px 12px;
    
}
#hero_box{
    grid-column: 1/12;
    grid-row: 1/7;
    width: 100%;
    z-index: -1;
}
#hero_img{
    width: 100%;
    
}
.banner_overlay{
    height: 160px;
    grid-column: 2/5;
    grid-row: 3/5;
    width: 100%; 
    margin-left: -1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                0px;
    margin-right: -50px; 
    border-radius:5%;
    outline: 15px solid #ECC19C;
}
#hero_msg{
    grid-column: 5/11;
    grid-row: 3/4;
    display: block;
    width: 100%;
    margin: -30px 40px;
    font-family: "Joan", "Roboto", "Rock Salt";
    color: #ffffff;
}
.banner_overlay:hover {
    opacity: .7;
    transform: scale(1.01);
    }
.home-grid{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
}
.main-img{
    width: 100%;
    grid-column: 2/7;
    grid-row: 2/6;
    border-radius: 5%;
    box-shadow: 5px 5px 10px #ECC19C;
    border: 3px solid #F3CA20;
    margin: 60px;
}
.msg{
    display: block;
    width: 100%;
    grid-column: 6/11;
    grid-row: 3/5;
    color: white;
    background-color: #12A4D9;
    border-radius: 12px;
    max-height: 320px;
}
.msg h1{
    color: white;
}
.msg1{
    grid-column: 2/11;
    grid-row: 7/9;
    color: white;
    padding: 35px;
    line-height: 1.5em;
}
.msg1 h1{
    color: #ffffff;
}
.msg1 p{
    color: #000000;
    padding-bottom: 15px;
}
/* blog button decoration and hover */
.blog-button, .share-button{
    margin-top: 50px;
    outline:1px solid white;
    background-color: #F3CA20;
    color: #ffffff;
    font-family: 'Rock Salt';
    font-size: 15px;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none
}
.blog-button:hover, .share-button:hover{
    background-color: #12A4D9;
    color: #000000;
    outline: none;
}
/* footer for home page, blog, and faq*/
footer{
    background-color: #12A4D9;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 30px;
    margin-top: 50px;
}
footer h3{
    color: #ffffff;
    font-family: "Joan", "Roboto", "Rock Salt";
}
footer h3 a:hover{
    background-color: #ECC19C;
    color: #ffffff;
    text-decoration: underline;
    /* padding: 5px;  */
}
footer .social img{
    padding-top: 12px;
    justify-content: space-around;
}
footer a{
    text-align: center;
    color: #ffffff;
    text-decoration: none
}
/* img {  display: block; margin: 0 auto; width: 400px; height: 400px;} */

/* CSS FOR OUR FUTURE CHILD PAGE (BLOG) */
#first-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.team-img{
    display: block;
    margin: 0 auto;
    width: 100%;
    height: 350px;
    grid-column: 1/3;
    grid-row: 2/3;
    border-radius: 10px;
    border: 3px solid #F3CA20;
    box-shadow: 5px 5px 10px #232523;

}
.team-img:hover {
    opacity: .7;
    transform: scale(1.01);
    }

.blog-msg{
    width: 95%;
    height: 98%;
    background-color: #12A4D9;
    color: white;
    grid-column: 3/7;
    grid-row: 1/4;
    margin-top: 40px;
    margin-bottom: 10px;
    box-shadow: 5px 5px 10px #232523;
    border-radius: 5px;

}
#second-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.img2{
    display: block;
    margin-top: 70px;
    margin-left: 10px;
    width: 95%;
    height: 370px;
    grid-column: 4/7;
    grid-row: 4/7;
    border-radius: 10px;
    border: 5px solid #F3CA20;
    box-shadow: 5px 5px 10px #232523;
}
.img2:hover {
    opacity: .7;
    transform: scale(1.01);
    }
.blog-msg1{
    margin-top: 70px;
    grid-column: 1/4;
    grid-row: 4/7;
    max-height: 420px; 
}
.blog-msg1 h1{
    color: white;
    font-family: "Open Sans", "Lato", "Times New Roman";
}
.blog-msg1 p{
    font-family: "Joan", "Rock Salt", "Roboto";
}
#third-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.img3{
    border-radius: 10px;
    display: block;
    width: 100%;
    height: 300px;
    grid-column: 1/7;
    grid-row: 8/10;
}
.blog-msg2{
    display: block;
    width: 100%;
    grid-column: 2/6;
    grid-row: 8/10;
    margin-top: 10px;
    font-size: 100%;
    line-height: 1.5em;
    padding: 35px;
}
.blog-msg2 h1{
    color: #12A4D9;
    font-family: "Open Sans", "Lato", "Times New Roman";
}
.blog-msg2 p{
    font-family: "Joan", "Rock Salt", "Roboto";
    color: #ffffff;
    padding-bottom: 13px;
}
/* CSS FOR OUR FUTURE CHILD PAGE (FAQ) */
.faq-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
.faq{
    grid-column: 1/7;
    grid-row: 2/3
}
.faq-img{
    display: block;
    width: 100%;
    height: 400px;
    margin-top: 40px;
    box-shadow: 5px 5px 10px  black;
    border-radius: 10px;
    border: 5px solid #F3CA20;

}
.faq-img:hover {
    opacity: .7;
    transform: scale(1.01);
    transform: rotate(0.2deg);
}
.faq h1{
    text-align: center;
    margin-top: 50px;
    font-family: 'Joan', 'Rock Salt', 'Open Sans';
    color: #12A4D9;
}
.faq-msg{
    grid-column: 1/7;
    grid-row: 4/5;
    margin-top: 30px;
    text-align: left;
}
.faq-msg h1{
    font-family: 'Joan', 'Rock Salt', 'Open Sans';
    color: #12A4D9;
}
.faq-msg dt{
    background-color: #12A4D9;
}
.faq-msg dd{
    background-color: #F3CA20;
}
.faq-msg2{
    grid-column: 1/7;
    grid-row: 6/7;
}
.faq-msg2 img{
    margin-top: 30px;
    display: block;
    width: 100%;
    box-shadow: 5px 5px 10px  black;
    border-radius: 10px;
    border: 5px solid #F3CA20;

}
.faq-msg2 img:hover {
    opacity: .7;
    transform: scale(1.01);
    transform: rotate(0.2deg);
}
.faq-msg2 h1{
    margin-top: 40px;
    color: #12A4D9;
    text-align: center;
    font-family: 'Joan', 'Rock Salt', 'Open Sans';
}
/* css for forms (contact us) */
/* center the form on the page */

form{
    margin: 40px auto;
    width: 400px;
    /* Form outline*/
    padding: 1em;
    border: 1px solid #232523;
    border-radius: 1em;
}
ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

form li + li{
    margin-top: 1em;
}

label{
    /* Uniform size and alignment */
    display: inline-block;
    width: 90px;
    text-align: right;
}
input, textarea{
    /* To make sure all text field have the same font settings
     By defaut textareas  have a monoscope font*/
     font: 1em sans-serif;

     /* Uniform text field size */
     width: 300px;
     box-sizing: border-box;

     /* Match form field border: ; */
    border: 1px solid rgb(243, 226, 226);
}
input:focus, textarea:focus{
    /* Additional highlight for focused elements */
    vertical-align: top;
    /* Provide space to type some text */
    height: 5em;
}
textarea{
    /* To properly align multiline text fields with their labels */
    vertical-align: top;
    /* To give enough room to type some text */
    height: 5em;

}
.button{
    /* Allign button with the text fields */
    padding-left: 90px; /*same size as the label elements*/
}
button{
    /* This extra margin represent roughly the same space as the space
    between the labels and their text-fields*/
    margin-left: 0.5em;
}
#feedback{
    background-color: wheat;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: .5em;
    /* Make this element invisible until we are ready for it */
    display: none;
}
.moveDown{
    margin-top: 3em;
}
@media screen and (max-width: 900px) {
    #hero-grid, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    .main-img{
        margin: 8px;
    }

    .banner_overlay{
        outline: none;
        margin: 10px 2px;
        border-radius: 1px;
        width: 100%;
        height: 100%;
    }
    #hero_msg{
        margin: 35px 12px;
    }
    #first-grid, #second-grid{
        display: block;
    }
    .blog-msg{
        margin: 0 auto;
    }
    #third-grid {
        display: block;
    }
}
@media screen and (max-width: 500px) {
    #third-grid {
        display: block;
    }

}


